$breakpoints: (
		'xs-phone': 320px,
		'phone': 480px,
		'tablet': 768px,
		'desktop': 1024px,
		'widescreen': 1200px
);

// keywords
$media-expressions: (
		'screen': 'screen',
		'print': 'print',
		'handheld': 'handheld',
		'landscape': '(orientation: landscape)',
		'portrait': '(orientation: portrait)',
		'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
		'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

$colorDark: #262231;
$colorLight: #f5f3e6;

@mixin bg-grad {
	background: #fe015c;
	background: -moz-linear-gradient(-45deg, #fe015c 0%, #562aff 100%);
	background: -webkit-linear-gradient(-45deg, #fe015c 0%, #562aff 100%);
	background: linear-gradient(135deg, #fe015c 0%, #562aff 100%);
}

@mixin bg-re-grad {
	background: #562aff;
	background: -moz-linear-gradient(-45deg, #562aff 0%, #fe015c 100%);
	background: -webkit-linear-gradient(-45deg, #562aff 0%, #fe015c 100%);
	background: linear-gradient(135deg, #562aff 0%, #fe015c 100%);
}

body {
	background: #262231;
	color: #f5f3e6;
}

h1 {
	font-size: 30px;
	text-align: center;
	position: relative;
	margin: 20px 0;
}

.tabs-wrap {
	text-align: center;
	.btn-wrap {

			li{
				display: inline-block;
			}

		a {
			display: inline-block;
			padding: 10px 20px;
			text-decoration: none;
			font-weight: bold;
			letter-spacing: 2px;
			color: #262231;
			border-radius: 5px;
			transition: .5s;
			position: relative;
			overflow: hidden;
			text-transform: uppercase;
			@include bg-grad;
			& > span {
				position: relative;
				z-index: 1;
				font-weight: 900;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				top: 0;
				right: 0;
				transition: .5s;
				@include bg-re-grad;

			}
			&:hover {
				&:before {
					opacity: 0;
				}
			}
			&:active {
				transition: .1s;
				transform: scale(.99);
			}
			&.active {
				&:before {
					opacity: 0;
				}
			}
		}
		.jq-selectbox {
			font-size: 0;
			.jq-selectbox__select-text {
				width: 200px;
				line-height: 1.2;
				display: inline-block;
				padding: 10px 20px;
				text-decoration: none;
				font-weight: bold;
				letter-spacing: 2px;
				font-size: 20px;
				color: #262231;
				border-radius: 5px;
				transition: .5s;
				position: relative;
				overflow: hidden;
				text-transform: uppercase;
				@include bg-grad;
			}
			.jq-selectbox__dropdown {
				top: 100%;
				left: 0;
				right: 0;
				font-size: 0;
				ul {

					width: 200px;
					line-height: 1.2;
					display: inline-block;
					text-decoration: none;
					font-weight: bold;
					letter-spacing: 2px;
					font-size: 20px;
					color: #262231;
					border-radius: 5px;
					transition: .5s;
					position: relative;
					overflow: hidden;
					text-transform: uppercase;
					margin: 0;
					padding: 0;
					@include bg-grad;
					@include bg-grad;
					li {
						cursor: pointer;
						padding: 10px 20px;
						transition: .3s;
						&:hover {
							color: $colorLight;
						}
						&.disabled {
							display: none;
						}
					}
				}
			}
			.jq-selectbox__trigger {
				position: absolute;
				right: 10px;
				top: calc(50%);
				border: 5px solid transparent;
				border-top-color: $colorDark;
			}

			&.opened {
				.jq-selectbox__trigger {
					top: calc(50% - 7px);
					border-top-color: transparent;
					border-bottom-color: $colorDark;
				}
			}
		}
		.jq-radio{
			height: 20px;
			width: 20px;
			top: -16px;
			left: 34px;
			cursor: pointer;

			@include bg-grad;
			border-radius: 50%;

			&+label{
				cursor: pointer;
			}

			&:before{
				content: '';
				position: absolute;
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background: $colorDark;
				transform:scale(0);
				transition: .3s;
				top: 5px;
				left: 8px;
			}
			&.checked{
				&:before{
					transform:scale(1);
				}
			}
		}
		.jq-checkbox{
			height: 20px;
			width: 20px;
			top: -16px;
			left: 34px;
			cursor: pointer;

			@include bg-grad;
			border-radius: 50%;

			&+label{
				cursor: pointer;
			}

			&:before{
				content: '';
				position: absolute;
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background: $colorDark;
				transform:scale(0);
				transition: .3s;
				top: 5px;
				left: 8px;
			}
			&.checked{
				&:before{
					transform:scale(1);
				}
			}
		}

	}
	.tab-wrap {
		margin: 20px 0;
		.tab {
			display: none;
			width: 1000px;
			height: 50px;
			background: red;
			text-align: center;
			color: $colorDark;
			font-weight: 900;
			padding-top: 15px;
			text-transform: uppercase;
			&:nth-child(1) {
				background: #fe015c;
			}
			&:nth-child(2) {
				background: #fe0197;
				height: 100px;
			}
			&:nth-child(3) {
				background: #d800fd;
				height: 150px;
			}
			&:nth-child(4) {
				background: #9926fe;
				height: 200px;
			}
			&.active {
				display: inline-block;

			}
		}
	}
}

ul{
	list-style: none;

}

.jq-checkbox,
.jq-radio {
	position: relative;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jq-checkbox input,
.jq-radio input {
	position: absolute;
	z-index: -1;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.jq-file {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.jq-file input {
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 0;
	opacity: 0;
	font-size: 100px;
	line-height: 1em;
}

.jq-file__name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.jq-selectbox,
.jq-select-multiple {
	position: relative;
	display: inline-block;
}

.jq-selectbox select,
.jq-select-multiple select {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.jq-selectbox li,
.jq-select-multiple li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.jq-selectbox {
	z-index: 10;
}

.jq-selectbox__select {
	position: relative;
}

.jq-selectbox__select-text {
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.jq-selectbox__dropdown {
	position: absolute;
}

.jq-selectbox__search input {
	-webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.jq-selectbox__dropdown ul {
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	list-style: none;
	-webkit-overflow-scrolling: touch;
}

.jq-select-multiple ul {
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.jq-number {
	display: inline-block;
}

.jq-number__field input {
	-moz-appearance: textfield;
	text-align: left; /* для Opera Presto */
}

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
	margin: 0; /* в каких-то браузерах присутствует отступ */
	-webkit-appearance: none;
}
